.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App input {
  width: 230px;
  height: 25px;
}

.App button {
  height: 31px;
}

.block {
  display: flex;
  justify-content: space-between;
  width: 300px;
  border: 1px solid green;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
}

.blockName {
  display: flex;
}

.blockName input {
  width: 15px;
  height: 15px;
}

.lineName {
  text-decoration: line-through;
}

.icons {
  display: flex;

}

.icons div {
  margin-left: 10px;
}

.editedInput {
  max-width: 150px;
}